

    


<div class="service-section">
  <div class="container">
    <div class="service-section-grids">

<div class="col-md-4 service-section-grid-3">
<%= submit_tag "Zoek naar ingredienten in de buurt", :name => nil %>
<%= form_tag ingredients_path, :method => :get do %>
  <%= text_field_tag :search, params[:ingredient] %>
 <% end %>

 <%= link_to 'Ingredient toevoegen', new_ingredient_path, class: "btn btn-1 btn-1c" %>

    
  <div id="map" style='width: 300px; height: 300px;'></div>



  
 <div class="col-md-4 service-section-grid-1">
<table class="legend">
  <thead>
    <tr>
      <th>Ingrediënt</th>
      <th>Informatie</th>
      <th>Bekijken</th>
      <th>Aanpassen</th>
      <th>Verwijderen</th>
    </tr>
  </thead>
  
  <tbody>
    <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.title %></td>
      <td><%= ingredient.description %></td>
      <td><%= link_to 'Weergeven', ingredient %></td>
      <td><%= link_to 'Aanpasssen', edit_ingredient_path(ingredient) %></td>
      <td><%= link_to 'Verwijderen', ingredient, method: :delete, data: { confirm: 'Bevestigen' } %></td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap
  ({provider: {}, internal: {id: 'map'}}, function()
  { markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  DirectionsService();
  });
</script>


  </div>
      <div class="clearfix"></div>
      </div>
  </div>
</div>