<div class="header">
    <div class="container">
      <div class="logo">
        <img src="../assets/logo.png" alt="" />
      </div>
      <div class="clearfix"></div>
      <div class="navigation">
       <div class="navigation-bar">
       <div class="search2">
            <form>
             <input type="text" value="Zoeken.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Zoeken..';}"/>
             <input type="submit" value="">
            </form>
          </div>
        <span class="menu"></span>
        <div class="top-menu">
          <ul>
            <li><%= link_to "Home", root_path, class: "active" %></li>
            <li><%= link_to "Info", root_path %></li>
            <li><%= link_to "Recepten", ingredients_path %></li>
            <li><%= link_to "Ingredienten", root_path %></li>
            <li><%= link_to "Inloggen", root_path %></li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <!-- script for menu -->
        <script>
        $( "span.menu" ).click(function() {
          $( ".top-menu" ).slideToggle( "slow", function() {
            // Animation complete.
          });
        });
      </script>
      <!-- script for menu -->
           <div class="clearfix"> </div>
      </div>
      </div>
    </div>
  </div>